body {
	background:#FFFFFF;
}
.form {
	
}

#header{
	height:30px;
	text-align: right;
}

#header1{
     background:#002147;
	 height:200px;
	 width:auto;
     }
.logoimage{margin-top:35px;position: absolute;}

#menu{
	 height:55px;
	 float:right;
	 margin-top:80px;
	margin-right:40px;
	 
	}

#footerStyle {
		width:auto;
		height:30px;
		background: #213047 repeat center;
		color:#ffffff;
		font-size:15px;
		font-weight:bold;
		font-family: 'Roboto', sans-serif;
		text-align:center;
		
	  }

.dot {
  height: 335px;
  width: 335px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 14px 18px 0 #A74747, 0 16px 30px 0 #A74747;
}

#bodycircle{
width:auto;
}

#anchor_menu a,a:visited{
	  color:white;
	  font-family:arial;
	  font-size: 15px;
	  font-weight: bold;
	  text-decoration: none;
	  margin-left:0px;
	  padding:0 10px 0 10px;
	 }

#bodyTitle{
      width:auto;
      color:#002147;
	  font-family:arial;
	  font-size: 20px;
	  font-weight: bold;
	  text-decoration: none;
	  margin-left:30px;
	  margin-top:30px;
}

.boxShowdow {
  width: 375px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  display: inline-block;
  
}

.font{
font-family: 'Roboto', sans-serif;
float:left;
text-align: justify;
}

.boxShowdow img{
 float:left;
 margin-left:25px;
 margin-top:25px;
 width:75px;
 height:75px;
}

.boxShowdow h2{
font-family: 'Roboto', sans-serif;
margin-top:125px;
}

#boxShadowDivP{
 width:325px;
 height:200px;
 margin-left:25px;
}

input#name, 
input#email,
input#area,
input#phoneno {
	border:1px solid #e5e5e5;
	width:300px;
	height:22px;
	background:#FFFFFF;	
	
}



.form li {
	list-style:none;
	margin-bottom:10px;
}


input#name:focus, 
input#email:focus, 
input#phoneno:focus {
	border: 1px solid #a5a5a5;
}

#message{
	border:1px solid #e5e5e5;
	width:300px;
	height:150px;
	background:#FFFFFF;		
}

#message:focus {
	border: 1px solid #a5a5a5;
}

label {
	font-family:'Tahoma';
	font-size:14px;
	color:#808080;
}



span {
	font-size:10px;
	float:left;
	font-family:'Tahoma';
	width:300px;
	margin-top:7px;
	color:#454747;
}

#botton{
  background:#002147;
  color:#ffffff;
  text-decoration:none;
  font-size:12px;
  font-weight:bold;
  border: 1px solid #002147;
  cursor:pointer;
  height:23px;
  width:125px;
}

#botton-01{
  background:#44C4F6;
  color:#ffffff;
  text-decoration:none;
  font-size:11px;
  font-weight:bold;
  border: 1px solid #44C4F6;
  cursor:pointer;
  height:20px;
  width:75px;
  text-align:center;
}

#shout_body_rigster ul{
  margin-top:50px;
}

#shout_body ul{
  margin-top:40px;
}