{% extends 'dashboard/tools/_base.html' %}
{% load static %}

{% block heading %}Mass Spec{% endblock heading %}
{% block text %}Upload your CSV file according to the format shown in the template below{% endblock text %}

{% block spec_tool %}<li class="active"><a href="{% url 'massspec_tool' %}" class="menu-item">Mass Spec Analysis</a></li>{% endblock spec_tool %}

{% block bodycontent %}
<div class="card-body">
  <div class="px-3">
    <form class="form form-horizontal" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-body">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" style="padding-left:15px">
              <label for="basicInputFile">Select CSV Data</label>
              <!-- <input type="file" class="form-control-file" id="basicInputFile"> -->
              {{ form.file }}
            </div>
          </div>
        </div>

      </div>

      <div class="form-actions right">
        <button type="submit" class="btn btn-raised btn-primary">
          <i class="fa fa-check-square-o"></i> Submit
        </button>
      </div>
    </form>

  </div>
</div>
{% endblock bodycontent %}
